 <section>
    <div class="home_info">
        <div class="slid_box">
            <div id="slid_box"></div>
            <div class="btn_box">
                <button id="btn1"><img src="../assets/greater-than.png" alt="">
                </button>
                <button id="btn2"><img src="../assets/greater-than.png" alt="">
                </button>
            </div>
        </div>
        <div class="content_box">
            <h1> <span id="sp1">WHY</span> CHOOSE US
                
            </h1><div id="emt"></div>
            <span id="sp2">fastest repair servece with best price!</span>
        </div></div> 
 </section>