<section>
    <div class="nav_bar">
        <nav class="nav_bar1">
            <div class="nav1_div1">
                <ul class="nav1_ul">
                    <li id="nav1_li"><a href="https://www.facebook.com/"><img
                                src="../../assets/facebook-app-symbol.png"></a></li>
                    <li id="nav1_li"><a href="https://x.com/?lang=en"><img src="../../assets/twitter.png"></a></li>
                    <li id="nav1_li"><a href="https://www.instagram.com/"><img src="../../assets/instagram.png"></a>
                    </li>
                    <li id="nav1_li"><a href="https://in.linkedin.com/"><img src="../../assets/linkedin.png"></a></li>

                </ul>
            </div>
            <div class="nav1_div2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, facere.</p>
            </div>
        </nav>
        <nav class="nav_box2">
            <div id="nav2_img"><img src="../../assets/logo.jpg"></div>
            <ul id="nav2_ul">
                <li><a routerLink="/homepage" id="nav2_li">HOME</a></li>
                <li><a routerLink="/about"    id="nav2_li">ABOUT </a></li>
                <li><a routerLink="/product"   id="nav2_li">PRODUCTS</a></li>
                <li><a routerLink="/blog"      id="nav2_li">BLOG</a></li>
                <li><a routerLink="/contant"   id="nav2_li">CONTACT</a></li>
                <li><a routerLink="/singup"    id="nav2_li">SINGUP</a></li>
                <li><a routerLink="/login"     id="nav2_li">LOGIN</a></li>
            </ul>
        </nav>
    </div>

    <router-outlet></router-outlet>
</section>