section{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#data1 {
    margin-top: 9.1vw;
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }